html, body, #cesium-container {
    width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
}

#top-right {
    position: absolute;
    top: 32px;
    left: 32px;
}

#health-bar {
    vertical-align: center;
}

#health-icon {
    width: 32px;
    height: 32px;
}

#health-num-wrap {
    display: inline-block;
    width: 112px;
}

#health-num {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 400%;
    color: white;
}

#health-container {
    display: inline-block;
    width: 200px;
    height: 32px;
    background-color: transparent;
    border: 2px solid white;
}

#health-remaining {
    height: 32px;
    width: 200px;
    background-color: #d0e0a7;
}

#wrecked-div {
    height: 200px;
    width: 512px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#wrecked-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 800%;
    color: white;
    opacity: .8;
    text-align: center;
}

#wrecked-message {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 100%;
    color: white;
    opacity: .8;
    text-align: center;
}